.app{
    width: 1440px;
    height: 4096px;
}
.home{
    width: 1440px;
    height: 915px;
}
.Banner{
    width: fill;
    height: 532px;
    margin-top: 252px;
}
.servicos {
    width: 1440px;
    height: 659px;
    margin: 0 auto; /* Centraliza horizontalmente */
    padding: 0px 30px; /* Espaçamento interno */
}

.h1 {
    margin-left: 145px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 55px;
    line-height: 67px;
    color: #000000;
    margin-bottom: 20px; /* Espaçamento abaixo do título */
}

.p1 {
    margin-left: 145px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.Produtos{
    max-width: 1440px;
    margin: 0 auto; /* Centraliza */
    padding: 100px 30px;
    background: rgba(26, 188, 156, 1);
}
.h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 55px;
    line-height: 67px;
    color: #ECF0F1;
    text-align: center; /* Centraliza o título */
    margin-bottom: 40px; /* Espaço abaixo do título */
}