.LowBar {
    display: flex; /* Usar layout flexível */
    align-items: center; /* Centraliza verticalmente */
    padding: 0px 30px; /* Espaçamento */
    gap: 100px; /* Espaço entre os itens */
    background-color: rgba(26, 188, 156, 1); /* Cor de fundo */
}

.item {
    display: flex; /* Layout flexível para os itens */
    align-items: center; /* Centraliza verticalmente */
    gap: 15px; /* Espaço entre o ícone e o texto */
}

.item img {
    width: 60px; /* Ajuste conforme necessário */
    height: 60px; /* Ajuste conforme necessário */
}

.item p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px; /* Altura da linha */
    color: #FFFFFF; /* Cor do texto */
}
