.card {
    background: #ECF0F1;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 20px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin-left: 20px;
}

.foto {
    width: 100%;
    border-radius: 25px;
    object-fit: cover; /* Mantém a proporção da imagem */
}

.informacoes {
    text-align: left;
}

.titulo-produto {
    font-family: 'Montserrat', sans-serif;;
    font-weight: 700;
    font-size: 30px;
    color: #000000;
}

.preco {
    font-family: 'Montserrat', sans-serif;;
    font-weight: 500;
    font-size: 24px;
    color: #000000;
}

.descricao {
    font-family: 'Montserrat',sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
}

.botao {
    background: #FF6F61;
    border-radius: 50px;
    padding: 10px 15px;
    color: #ECF0F1;
    border: none;
    cursor: pointer;
}

